
 code {
   overflow: auto;
   width: 100%;
   white-space: normal;
 }

 blockquote {
   background-color: @lightgray;
   padding: 0.5rem;
   border-left: 2px solid #39465A;;
   margin: 0.5rem 0;
 }

 blockquote p {
   margin:0;
 }

 a, a:hover, .menu-item:before {
   color: @linkblue;
 }


 // Site Metadata
 .entry-title a {
   color: @defaulttextblue;
 }
 .entry-meta, .site-info {
   font-size: 1.2rem;
   color: @darkgray;
 }

 .site-info a {
   color: @darkgray;
 }

 a.logouturl{
   color: @red;
 }

 .entry-content ul, .entry-content ol {
   list-style: inside;
   margin: 0.75rem 0;
 }
